<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./facebook-icon.png"/>
	<title>เพลงแสงเทียน</title>
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color : #00cc66 ; border-radius:0 ; border: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home" style="color: white"><i
                    class="fa fa-th-large" aria-hidden="true"></i>&nbsp;เว็บรวมเพลงพระราชนิพนธ์</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="kingsong1" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong1
                </a>
				</li>
				<li>
                <a href="kingsong2" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong2
                </a>
				</li>
				<li>
				<a href="kingsong3" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong3
                </a>
            </li>
        </ul>
    </div>
</nav>

<center>
	<h1>แสงเทียน</h1>
	<iframe width="720" height="360"

src="https://www.youtube.com/embed/VadBrjU1ye0?rel=0

&amp;showinfo=0&amp;autoplay=1&amp;loop=1

&amp;playlist=ใส่URLเพลง&amp;fs=0&amp;showinfo=0"

frameborder="0" allowfullscreen></iframe></center>	
<div class="col-md-4"></div>
<div class="col-md-4" align="center">
<h3>เนื้อเพลง</h3>
<p>จุดเทียนบวงสรวงปวงเทพเจ้า</p>
<p>สวดมนต์ค่ำเช้าถึงคราวระทมทน</p>
<p>โอ้ชีวิตหนอล้วนรอความตายทุกคน</p>
<p>หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ</p>
<p>ต่างคนเกิดแล้วตายไป</p>
<p>ชดใช้เวรกรรมจากจร</p>
<p>นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม</p>
<p>ทุกคนเคยทำกรรมไว้ก่อน</p>
<p>เชิญปวงเทวดาข้าไหว้วอน</p>
<p>ขอพรคุ้มไปชีวิตหน้า</p>
<p>ทนทรมานมามากแล้วจะกราบลา</p>
<p>หนีปวงโรคาที่เบียดเบียน</p>
<p>แสงแววชีวาเปรียบแสงเทียน</p>
<p>เปรียบเทียนสิ้นแสงยามแรงลมเป่า</p>
<p>ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน</p>
<p>จุดเทียนถวายหมายบนบูชาร้องเรียน</p>
<p>โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย</p>
<p>โรครุมเร่าร้อนแรงโรย</p>
<p>หวนโหยอาวรณ์อ่อนใจ</p>
<p>ทำบุญทำทานกันไว้เถิดเกิดเป็นคน</p>
<p>ไว้เตรียมผจญชีวิตใหม่</p>
<p>เคยทำบุญทำคุณปางก่อนใด</p>
<p>ขอบุญคุ้มไปชีวิตหน้า</p>
<p>ทนทรมานมามากแล้วจะกราบลา</p>
<p>แสงเทียนบูชาจะดับพลัน</p>
<p>แสงเทียนบูชาดับลับไป</p>
</div>
<div class="col-md-4"></div>
</html>