<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./facebook-icon.png"/>
	<title>เพลงแสงเทียน</title>
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color : #00cc66 ; border-radius:0 ; border: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home" style="color: white"><i
                    class="fa fa-th-large" aria-hidden="true"></i>&nbsp;เว็บรวมเพลงพระราชนิพนธ์</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="kingsong1" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong1
                </a>
				</li>
				<li>
                <a href="kingsong2" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong2
                </a>
				</li>
				<li>
				<a href="kingsong3" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong3
                </a>
            </li>
        </ul>
    </div>
</nav>

<center>
	<h1>ใกล้รุ่ง</h1>
	<iframe width="720" height="360"

src="https://www.youtube.com/embed/GZ6zFcF3044?rel=0

&amp;showinfo=0&amp;autoplay=1&amp;loop=1

&amp;playlist=ใส่URLเพลง&amp;fs=0&amp;showinfo=0"

frameborder="0" allowfullscreen></iframe></center>	
<div class="col-md-4"></div>
<div class="col-md-4" align="center">
<h3>เนื้อเพลง</h3>
<p>ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล</p>
<p>ชุ่มชื่นฤทัย หวานใดจะปาน</p>
<p>ฟังเสียงบรรเลง ขับเพลงประสาน</p>
<p>จากทิพย์วิมาน ประทานกล่อมใจ</p>

<p>* ใกล้ยามเมื่อแสง ทอง ส่อง</p>
<p>ฉันคอยมองจ้อง ฟ้าเรืองรำไร</p>
<p>ลมโบกโบยมา หนาว ใจ</p>
<p>รอช้าเพียงไร ตะวันจะมา</p>

<p>** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน</p>
<p>ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา</p>
<p>โอ้ในยามนี้ เพลิน หนักหนา</p>
<p>แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ</p>

<p>*** หมู่มวลวิหคบินผกมาแต่ รัง นอน</p>
<p>เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน</p>
<p>ยินเสียงบรรเลง ดังเพลงขับขาน</p>
<p>สอดคล้องกังวาน ซาบซ่านจับใจ</p>

<p>( ซ้ำ * , ** , *** )</p>
</div>
<div class="col-md-4"></div>
</html>