<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./facebook-icon.png"/>
	<title>เพลงแสงเทียน</title>
	<style>
	p {
    display: block;
	}
	</style>
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color : #00cc66 ; border-radius:0 ; border: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home" style="color: white"><i
                    class="fa fa-th-large" aria-hidden="true"></i>&nbsp;เว็บรวมเพลงพระราชนิพนธ์</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="kingsong1" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong1
                </a>
				</li>
				<li>
                <a href="kingsong2" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong2
                </a>
				</li>
				<li>
				<a href="kingsong3" class="btn btn-link" style="color: white" role="button"><i class="fa fa-play-circle-o"></i>&nbsp;kingsong3
                </a>
            </li>
        </ul>
    </div>
</nav>

<center>
	<h1>ยามเย็น (Ost. พรจากฟ้า) - วี วิโอเลต วอเทียร์</h1>
	<iframe width="720" height="360"

src="https://www.youtube.com/embed/uzV3FXmhJXI?rel=0

&amp;showinfo=0&amp;autoplay=1&amp;loop=1

&amp;playlist=ใส่URLเพลง&amp;fs=0&amp;showinfo=0"

frameborder="0" allowfullscreen></iframe></center>
<div class="col-md-4"></div>
<div class="col-md-4" align="center">
<h3>เนื้อเพลง</h3>
<p>แดดรอนๆ เมื่อทินกรจะลับเหลี่ยมเมฆา</p>
<p>ทอแสงเรืองอร่ามช่างงามตา</p>
<p>ในนภาสลับจับอัมพร</p>

<p>แดดรอนๆ เมื่อทินกรจะลาโลกไปไกล</p>
<p>ยามนี้จำต้องพรากจากดวงใจ</p>
<p>ไกลแสนไกลสุดห่วงยอดดวงตา</p>

<p>แต่ก่อนเคยคลอเคลียกัน ทุกวันคืนรื่นอุรา</p>
<p>ต้องอยู่เดียวเปลี่ยนวิญญาณ์</p>
<p>เหมือนดังนภาไร้ทินกร</p>

<p>แดดรอนๆ เมื่อทินกรจะลาโลกไปไกล</p>
<p>ความรักเราคงอยู่คู่กันไป</p>
<p>ในหัวใจคงอยู่คู่เชยชม</p>

<p>'Tis sundown.</p>
<p>The golden sunlight tints the blue sea.</p>
<p>Paints the hill and gilds the palm tree,</p>
<p>Happy be, my love, at sundown.</p>

<p>'Tis sundown.</p>
<p>The multi-coloured dancing sunbeam</p>
<p>Brightly shines on in my heart's dream</p>
<p>Of the one I love, at sundown.</p>

<p>The birds come to their nest</p>
<p>At peace, they bill and coo.</p>
<p>The wide world sinks to rest,</p>
<p>And so do I and so do you.</p>

<p>'Tis sundown.</p>
<p>In splendour sinks the sun, comes twilight,</p>
<p>Day is done, now greets the cool night.</p>
<p>Happy be, my love, at sundown.</p>

<p>โอ้ยามเย็น จวบยามนี้เป็นเวลาสุดอาวรณ์</p>
<p>ยามไร้ความสว่างห่างทินกร</p>
<p>ยามรักจำจะจรจากกันไป</p>
</div>
<div class="col-md-4"></div>
</html>